Repository lutluthfi/Binar-iOS, changes with the owners that CODEOWNERS names for each.
All owners: @lutluthfi, @rabbanilham, @Aiedyldava, @nansyiiah, @d1mzpur, @ulfras, @pranahonk, @raden-dimas012, @Tiohardadi, @amtatangsulaeman

add sync works function
  BinarAcademy.playground/Pages/Async.xcplaygroundpage/Contents.swift
Owners: @lutluthfi

Feature/tatang (#30)
  Binar/Binar/TS/TSMain.storyboard
  Binar/Binar/TS/TSViewController.swift
Owners: @amtatangsulaeman, @lutluthfi

Rebase conflict
  Binar/Binar.xcodeproj/project.pbxproj
  Binar/Binar/AI/AIMain.storyboard
  Binar/Binar/AI/AIViewController.swift
  Binar/Binar/DashboardViewController.swift
Owners: @lutluthfi

Add Akbar Animal List
  Binar/Binar.xcodeproj/project.pbxproj
  Binar/Binar/AI/AIMain.storyboard
  Binar/Binar/AI/AIViewController.swift
  Binar/Binar/AI/AnimalAITableViewController.swift
  Binar/Binar/DashboardViewController.swift
  Binar/Binar/Info.plist
  Binar/Default-568h@2x.png
Owners: @lutluthfi

Add Akbar Animal List
  Binar/Binar/AI/AIMain.storyboard
  Binar/Binar/AI/AnimalAITableViewController.swift
  Binar/Binar/DashboardViewController.swift
Owners: @lutluthfi

Clean up unused resources
  Binar/Binar.xcodeproj/project.pbxproj
  Binar/Binar/AI/AIAnimalTableViewController.swift
  Binar/Binar/Fonts/circular-std-medium-500.ttf
  Binar/Default-568h@2x.png
Owners: @lutluthfi

Feature/akbar (#33)
  Binar/Binar.xcodeproj/project.pbxproj
  Binar/Binar/AI/AIAnimalTableViewController.swift
  Binar/Binar/AI/AIMain.storyboard
  Binar/Binar/AI/AIViewController.swift
  Binar/Binar/DashboardViewController.swift
  Binar/Binar/Fonts/circular-std-medium-500.ttf
  Binar/Binar/Info.plist
Owners: @lutluthfi

Solved Conflict
  Binar/Binar.xcodeproj/project.pbxproj
  Binar/Binar/RN/RNMain.storyboard
  Binar/Binar/RN/RNViewController.swift
  README.md
Owners: @lutluthfi

Add extension and case for RNViewController, update student name and test for main.storyboard
  Binar/Binar/DashboardViewController.swift
  Binar/Binar/RN/RNMain.storyboard
  Binar/Binar/RN/RNViewController.swift
  Binar/Binar/Student.swift
Owners: @lutluthfi

Add Search Bar and refactor enable function for Search Bar
  Binar/Binar/RN/RNMain.storyboard
  Binar/Binar/RN/RNViewController.swift
Owners: @lutluthfi

Refactor search to add cancel clicked conditions, and update placeholder for Search Bar
  Binar/Binar/Base.lproj/Main.storyboard
  Binar/Binar/RN/RNMain.storyboard
  Binar/Binar/RN/RNViewController.swift
Owners: @lutluthfi

Add table view, table view cell and search bar
  Binar/Binar/RN/RNMain.storyboard
Owners: @lutluthfi

Add text name and placeholder name for Search Bar
  Binar/Binar/RN/RNMain.storyboard
Owners: @lutluthfi

Add Table View Controller and refactor controller to show list animals for table cell
  Binar/Binar/RN/RNMain.storyboard
  Binar/Binar/RN/RNViewController.swift
Owners: @lutluthfi

Update to add new challenge
  Binar/Binar/AR/ARAnimalTableViewController.swift
  Binar/Binar/AR/ARMain.storyboard
  Binar/Binar/DashboardViewController.swift
  Binar/Binar/PW/PWViewController.swift
Owners: @lutluthfi, @pranahonk

Add example custom table view cell
  Binar/Binar.xcodeproj/project.pbxproj
  Binar/Binar/AR/ARMain.storyboard
  Binar/Binar/AR/Animal/ARAnimalTableViewController.swift
  Binar/Binar/AR/Animal/Cell/ARAnimalTableCell.swift
  Binar/Binar/AR/Animal/Cell/ARAnimalTableCell.xib
  Binar/Binar/PW/CustomTableViewCell.xib
  Binar/Binar/Utility/UITableView+Extension.swift
Owners: @lutluthfi, @pranahonk

fasil tableview challenge listV2
  Binar/Binar.xcodeproj/project.pbxproj
  Binar/Binar/MF/Animal/Cell/MFAnimalTableCell.swift
  Binar/Binar/MF/Animal/Cell/MFAnimalTableCell.xib
  Binar/Binar/MF/Animal/MFFasilChallengeViewController.swift
  Binar/Binar/MF/MFFasilChallengeViewController.swift
  Binar/Binar/MF/MFMain.storyboard
Owners: @lutluthfi, @ulfras

CODEOWNERS:

### Others ###
/ @lutluthfi
/Binar/ @lutluthfi


### Playground ###
/BinarAcademy.playground/ @lutluthfi

### XCode ###
/Binar/*/AR/ @lutluthfi
/Binar/*/BI/ @rabbanilham @lutluthfi 
/Binar/*/AD/ @Aiedyldava @lutluthfi
/Binar/*/AK/ @nansyiiah @lutluthfi
/Binar/*/DP/ @d1mzpur @lutluthfi
/Binar/*/MF/ @ulfras @lutluthfi
/Binar/*/PW/ @pranahonk @lutluthfi
/Binar/*/RD/ @raden-dimas012 @lutluthfi
/Binar/*/TH/ @Tiohardadi @lutluthfi
/Binar/*/TS/ @amtatangsulaeman @lutluthfi
